@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "serif";
}

#container {
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	width: 40%;
}

#header {
	font-size: 30px;
	color: white;
	font-weight: 600;
	text-align: center;
	background-color: #1A1949;
	padding: 5px;
	letter-spacing: 3px;
	border-bottom: #FFE5CC 4px dotted;
}



.category {
	text-align: center;
	color: white;
	background-color: #384170;
	font-size: 20px;
	padding: 5px;
	letter-spacing: 3px;
	border-bottom: #FFE5CC 4px dotted;
	font-style: italic;
}


.bodytext {
	color: black;
	font-size: 12px;
	font-family: Arial, "sans-serif";
	text-align: justify;
	padding: 25px 0px;
}